In [1]:
import pandas as pd

# Pandas Dataframe Creation

### Think of a Dataframe as the Python version of a spreadsheet.  It stores tabular data.

### The first thing we need to do is specify the columns of the Dataframe.  This is done with a list.

In [2]:
# python list my_columns will store the columns names
my_columns= ['Ticker','Stock Price', 'Market Cap', 'Number of Shares to Buy']

### Now we are going to create a blank Pandas Dataframe called final_dataframe.  Use the pd.Dataframe class instance

In [3]:
final_dataframe= pd.DataFrame(columns = my_columns)

### You can view the dataframe in two ways

In [4]:
# view frame
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Cap, Number of Shares to Buy]
Index: []

In [5]:
# using print statement
print(final_dataframe)

Empty DataFrame
Columns: [Ticker, Stock Price, Market Cap, Number of Shares to Buy]
Index: []

### Now that we have our empty dataframe we can populate it with a list of a list

In [6]:
final_dataframe= pd.DataFrame([[0,0,0,0]],columns = my_columns)
final_dataframe

   Ticker  Stock Price  Market Cap  Number of Shares to Buy
0       0            0           0                        0

###  Pandas Dataframe

In [7]:
final_dataframe= pd.DataFrame([[0,0,0,0],[7,7,7,7]],columns = my_columns)
final_dataframe

   Ticker  Stock Price  Market Cap  Number of Shares to Buy
0       0            0           0                        0
1       7            7           7                        7